/* Copyright Juri Pfammatter*/

/* Add 1-Wire to UART1 */
&uart1{
    status = "okay";
    pinctrl-0 = < &uart1_default >;
    pinctrl-names = "default";

    w1_0: w1-zephyr-serial-0 {
		compatible = "zephyr,w1-serial";
		status = "okay";

		ds18b20 {
			compatible = "maxim,ds18b20";
			family-code = <0x28>;
			resolution = <10>;
			status = "okay";
		};
	};
};

/* configure pins of UART1 */
&pinctrl{
    uart1_default: uart1_default{
        group1 {
				pinmux = < UART1_TX_GPIO17 >;       
				output-high;
			};
			group2 {
				pinmux = < UART1_RX_GPIO18 >;      
				bias-pull-up;
			};
    };
};