/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2021 Andrei-Edward Popa
 * Copyright (c) 2022 Espressif Systems (Shanghai) Co., Ltd.
 */

#include <zephyr/dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/esp32s2-pinctrl.h>

/ {
	aliases {
		pwm-0 = &ledc0;
		pwm-led0 = &stepper_pwm;
		en-dir = &stepper0;
		//direction = &stepper1;
	};

	// 
	pwmleds {
		compatible = "pwm-leds";
		stepper_pwm: pwm_led_gpio0_2 {
			label = "PWM Stepper";
			pwms = <&ledc0 0 1000 PWM_POLARITY_NORMAL>;
		};
	};

	stepper0 {
		compatible = "gpio-leds";
		stepper0: stepper_0 {
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>,
					<&gpio0 5 GPIO_ACTIVE_LOW>;
		};
	};

	//stepper_dir {
	//	compatible = "gpio-leds";
	//	stepper1: stepper_1 {
	//		gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
	//	};
	//};


};

// Add LED to pinctrl
&pinctrl {
	ledc0_default: ledc0_default {
		group1 {
			pinmux = <LEDC_CH0_GPIO2>;
			output-enable;
		};
	};
};

// configure LED channel 0
&ledc0 {
	pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
};
